.card {
  padding: 20px 16px;
  margin: 16px 8px;
  color: var(--text-color);
  background-color: var(--background-color);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 1s;

  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  }

  &.invisible {
    opacity: 0;
  }

  &.visible {
    opacity: 1;
  }

  & :first-child {
    margin-top: 0;
  }

  & :last-child {
    margin-bottom: 0;
  }

  & .actions {
    padding-top: 8px;
    margin-bottom: -12px;
    text-align: right;
    border: none;
    border-top: 1px solid #e0e0e0;

    & > * {
      color: var(--text-color);
      text-decoration: none;
    }
  }

  & hr {
    border: none;
    border-top: 1px solid #e0e0e0;
  }
}
