.card {
  position: relative;
  padding: 20px 16px;
  margin: 16px 8px;
  overflow: auto;
  color: var(--text-color);
  background-color: var(--background-color);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: opacity 1s, transform 0.5s;

  &.elevation:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
  }

  &.invisible {
    opacity: 0;
  }

  &.visible {
    opacity: 1;
  }

  & h1:first-child,
  & h2:first-child,
  & h3:first-child,
  & h4:first-child {
    margin-top: 0;
  }

  & p:last-child {
    margin-bottom: 0;
  }

  & .actions {
    position: absolute;
    right: 12px;
    bottom: 18px;
    padding-top: 8px;
    margin-bottom: -12px;
    text-align: right;

    & > * {
      color: var(--text-color);
      text-decoration: none;
    }
  }

  & hr {
    border: none;
    border-top: 1px solid #e0e0e0;
  }
}
