@import './animations.css';
@import './card.css';
@import './fonts.css';
@import './normalize.css';
@import './scrollbar.css';

@custom-media --small-viweport (width < 576px);
@custom-media --medium-viweport (576px <= width < 768px);
@custom-media --large-viweport (width >= 768px);

:root {
  --primary-color: #1a237e;
  --primary-dark-color: #000051;
  --primary-light-color: #534bae;
  --secondary-color: #40c4ff;
  --secondary-dark-color: #0094cc;
  --secondary-light-color: #82f7ff;
  --text-color: #212121;
  --text-dark-color: #000;
  --text-light-color: #fff;
  --background-color: #fff;
  --background-dark-color: #1a237e;
  --background-light-color: #fff;
}

body {
  font-size: 14px;
  background-color: var(--primary-color);
}

header.full-screen {
  height: 100vh;
  background-image: linear-gradient(black, var(--primary-color));

  & hgroup {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    color: var(--text-light-color);
    text-align: center;
    transform: translate(-50%, -50%);

    & :hover {
      text-shadow: 0 0 0.5rem var(--text-light-color);
    }
  }

  & .icon-container {
    position: absolute;
    bottom: 16px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    animation: bounce ease-in-out 1s infinite alternate;

    & .material-icons {
      font-size: 48px;
      color: var(--text-light-color);

      &:hover {
        text-shadow: 0 0 0.5rem var(--text-light-color);
      }
    }
  }
}

.container {
  max-width: 992px;
  padding: 1rem;
  margin: 0 auto;
  color: var(--text-light-color);
}

@media (--medium-viweport) {
  .container {
    width: 90%;
  }
}

@media (--large-viweport) {
  .container {
    width: 80%;
  }
}

footer {
  color: var(--text-light-color);

  & .container {
    display: flex;
    justify-content: space-between;
  }

  & a {
    font-weight: bold;
    color: var(--text-light-color);
    text-decoration: none;
  }
}
