@custom-media --small-viweport (width < 576px);
@custom-media --medium-viweport (576px <= width < 768px);
@custom-media --large-viweport (width >= 768px);

@import './animations.css';
@import './card.css';
@import './container.css';
@import './fonts.css';
@import './grid.css';
@import './normalize.css';
@import './scrollbar.css';
@import './timeline.css';

:root {
  --primary-color: #303f9f;
  --primary-dark-color: #1a237e;
  --primary-light-color: #3f51b5;
  --secondary-color: #00bcd4;
  --secondary-dark-color: #0097a7;
  --secondary-light-color: #4dd0e1;
  --text-color: #212121;
  --text-dark-color: #000;
  --text-light-color: #fff;
  --background-color: #fafafa;
  --background-dark-color: #1a237e;
  --background-light-color: #fff;
}

body {
  font-size: 14px;
  background-color: var(--primary-color);
}

header.full-screen {
  height: 100vh;
  background-image: linear-gradient(black, var(--primary-color));

  & hgroup {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 2em;
    color: var(--text-light-color);
    text-align: center;
    transform: translate(-50%, -50%);

    & :hover {
      text-shadow: 0 0 0.5rem var(--text-light-color);
    }
  }

  & .icon-container {
    position: absolute;
    bottom: 16px;
    left: 50%;
    text-align: center;
    transform: translate(-50%, 0);
    animation: bounce ease-in-out 1s infinite alternate;

    & .material-icons {
      font-size: 48px;
      color: var(--text-light-color);

      &:hover {
        text-shadow: 0 0 0.5rem var(--text-light-color);
      }
    }
  }
}

.profile {
  float: left;
  padding: 8px;
  margin-right: 16px;
  border: #eee solid 1px;
  border-radius: 4px;
}

@media (--small-viweport) {
  .profile {
    float: none;
  }
}

.info-list {
  padding: 0;
  list-style: none;

  & li {
    margin-bottom: 8px;

    & a {
      color: var(--text-color);
      text-decoration: none;
    }

    & a,
    & span {
      padding-left: 8px;
      font-size: 16px;
      line-height: 24px;
      vertical-align: top;
    }
  }
}

.education-list {
  padding: 8px;
  list-style: none;

  & li {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    & img.school {
      width: auto;
      height: 36px;
    }

    & .name {
      display: block;
      padding-left: 12px;
      margin-bottom: 4px;
      font-size: 16px;
      font-weight: bold;
    }

    & .date {
      display: block;
      padding-left: 12px;
      font-size: 14px;
    }

    &:last-child {
      margin: 0;
    }
  }
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, calc((100% - 1em) / 2));
  grid-column-gap: 1em;

  & .space {
    display: none;
  }
}

@media (--small-viweport) {
  .skills-grid {
    grid-template-columns: 100%;

    & .space {
      display: block;
      height: 1em;
    }
  }
}

.interest {
  margin: 6px;
  line-height: 26px;
  color: var(--primary-color);
  white-space: nowrap;
}

.logo {
  padding: 2px;
  margin: 2px;
  object-fit: contain;
  border: #eee solid 1px;
  border-radius: 4px;
}

.project-list {
  padding: 0;
  list-style: none;

  & li {
    margin-bottom: 16px;

    & h3 {
      margin-block-end: 0.25em;
    }

    & a {
      color: var(--text-color);
      text-decoration: none;
    }

    & .logo {
      vertical-align: middle;
    }
  }
}

.badge {
  padding: 4px;
  font-size: 0.5em;
  color: var(--text-light-color);
  white-space: nowrap;
  vertical-align: middle;
  background-color: var(--secondary-light-color);
  border-radius: 4px;
}

.license-badge {
  padding: 4px;
  font-size: 0.5em;
  color: var(--text-light-color);
  white-space: nowrap;
  vertical-align: middle;
  background-color: var(--primary-light-color);
  border-radius: 4px;
}

.license-message {
  line-height: 24px;
}

footer {
  color: var(--text-light-color);
  background-color: var(--background-dark-color);

  & .container {
    display: flex;
    justify-content: space-between;

    & a {
      font-weight: bold;
      color: var(--text-light-color);
      text-decoration: none;
    }
  }
}
