@import './normalize.css';
@import './fonts.css';

@custom-media --small-viweport (width < 576px);
@custom-media --medium-viweport (576px <= width < 768px);
@custom-media --large-viweport (width >= 768px);

:root {
  --primary-color: #1a237e;
  --primary-dark-color: #000051;
  --primary-light-color: #534bae;
  --secondary-color: #40c4ff;
  --secondary-dark-color: #0094cc;
  --secondary-light-color: #82f7ff;
  --text-color: #212121;
  --text-dark-color: #000;
  --text-light-color: #fff;
}

body {
  background-image: linear-gradient(black, var(--primary-color));
  font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', Sans-serif;
  font-size: 14px;
  word-break: keep-all;
}

header.full-screen {
  height: 100vh;

  & hgroup {
    color: var(--text-light-color);
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    & :hover {
      text-shadow: 0 0 0.5rem var(--text-light-color);
    }

    & .material-icons {
      display: block;
      font-size: 48px;
    }
  }

  & .icon-container {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;

    & .material-icons {
      color: var(--text-light-color);
      font-size: 48px;
    }
  }
}

.container {
  color: var(--text-light-color);
  margin: 0 auto;
  max-width: 992px;
  padding: 1rem;
}

@media (--medium-viweport) {
  .container {
    width: 90%;
  }
}

@media (--large-viweport) {
  .container {
    width: 80%;
  }
}

footer {
  color: var(--text-light-color);

  & .container {
    display: flex;
    justify-content: space-between;
  }

  & a {
    color: var(--text-light-color);
    font-weight: bold;
    text-decoration: none;
  }
}
